hr {
    background-color: #006450;
    width: 1390px;
    height: 2px;
}

h1 {
    color: #FFFAEF;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px; /* 122.222% */
    letter-spacing: 0.4px;
}

h2 {
    color: #006450;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px; /* 122.222% */
    letter-spacing: 0.4px;
}

h3 {
    color: #006450;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 400;
    line-height: 62px; /* 110.714% */
    letter-spacing: 0.4px;
}

h4 {
    color: #006450;
    text-align: center;
    font-family: Roboto;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 89px; /* 123.611% */
    letter-spacing: 0.4px;
}

h5 {
    color: #006450;
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 62px; /* 110.714% */
    letter-spacing: 0.4px;
}

header {
    width: 1440px;
    height: 55px;
    background-color: #FFFAEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

header a {
    color: #006450;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px; /* 300% */
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transition: text-decoration 2s ease;
    flex-direction: column;
}

.navLeft {
    display: flex;
    gap: 39px;
    margin-left: 26px;
}

.navRight {
    display: flex;
    gap: 39px;
    margin-right: 25px;
}

.logo {
    color: #00C08B;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 130% */
    letter-spacing: 0.4px;
}

main {
    margin: auto;
    width: 1440px;
    height: 100%;
}

.firstScreen {
    background: url(../css/img/bg-sreen.jpg), lightgray 50% / cover no-repeat;
    height: 882px;
    margin-bottom: 23px;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 156px 25px 0 25px;
}

.label button {
    background: #E1FF32;
    width: 201px;
    height: 64px;
    border: none;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px; /* 355.556% */
    letter-spacing: 0.4px;
    cursor: pointer;
}

.label button:hover {
    filter: brightness(1.1);
    transition: filter 0.3s ease;
}

.label button:active {
    filter: brightness(1);
    transition: filter 0.3s ease;
}

.slider {
    margin: 564px 23px 0 0;
    float: right;
}

#perform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px auto;
}

#perform h2 {
    width: 583px;
}

.perform {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 107px;
}

.item:hover button {
    filter: brightness(1.2);
    transition: filter 0.3s ease-in-out;
}

.item:nth-child(1) {
    background: lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/01.jpeg);
    background-size: contain;
}

.item:nth-child(1):hover {
    background: lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/13.jpeg);
    background-size: contain;
    transition: background-image 0.5s ease;
}

.item:nth-child(2) {
    background: lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/02.jpeg);
    background-size: contain;
}

.item:nth-child(2):hover {
    background: lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/14.jpeg);
    background-size: contain;
    transition: background-image 0.5s ease;
}

.item:nth-child(3) {
    background: lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/03.jpeg);
    background-size: contain;
}

.item:nth-child(3):hover {
    background: lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/15.jpeg);
    background-size: contain;
    transition: background-image 0.5s ease;
}

.item:nth-child(4) {
    background: lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/04.jpeg);
    background-size: contain;
}

.item:nth-child(4):hover {
    background: lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/16.jpeg);
    background-size: contain;
    transition: background-image 0.5s ease;
}

.item {
    width: 683px;
    height: 683px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.item h2 {
    color: #fff;
}

.item p {
    color: #FFFAEF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 108.333% */
    letter-spacing: 0.4px;
    width: 430px;
    margin-top: 11px;
}

.item button {
    border: none;
    width: 683px;
    height: 60px;
    background-color: #E1FF32;
    cursor: pointer;
    margin-top: 329px;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 107px;
    margin-bottom: 22px;
}

.articleItem {
    width: 683px;
    height: 683px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.articleItem span {
    color: #006450;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 66.667% */
    letter-spacing: 0.4px;
    text-transform: lowercase;
    margin-top: auto; 
}

.articleItem h3 {
    margin-top: auto;
}

.articleItem p {
    color: #006450;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px; /* 122.222% */
    letter-spacing: 0.4px;
    margin: 0;
    padding-bottom: 40px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;
    margin-bottom: 40px;
}

.sectionSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionSlider h2 {
    color: #00C08B;
}

.sectionSlider h3 {
    width: 777px;
    margin-bottom: 111px;
}

.sectionSlider span {
    color: #006450;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 66.667% */
    letter-spacing: 0.4px;
    text-transform: lowercase;
    margin-right: auto;
}

.two:nth-child(1) {
    background: center, lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/08.jpeg);
    background-size: contain;
}

.two:nth-child(1):hover {
    background: center, lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/17.jpeg);
    background-size: contain;
    transition: background-image 0.5s ease;
}

.two:nth-child(2) {
    background: center, lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/09.jpeg);
    background-size: contain;
}

.two:nth-child(2):hover {
    background: center, lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/18.jpeg);
    background-size: contain;
    transition: background-image 0.5s ease;
}

.two:nth-child(3) {
    background: center, lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/10.jpeg);
    background-size: contain;
}

.two:nth-child(3):hover {
    background: center, lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/19.jpeg);
    background-size: contain;
    transition: background-image 0.5s ease;
}

.two:nth-child(4) {
    background: center, lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/11.jpeg);
    background-size: contain;
}

.two:nth-child(4):hover {
    background: center, lightgray 50% / cover no-repeat;
    background-image: url(../css/img/perform/20.jpeg);
    background-size: contain;
    transition: background-image 0.5s ease;
}

.work {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work h4 {
    width: 830px;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(../css/img/bg-foot.jpeg), lightgray 50% / cover no-repeat;
    background-size: contain;   
    width: 1440px;
    height: 675px;
    margin-bottom: 25px;
}

.foot button {
    background: none;
    border: 2px solid #006450;
    width: 205px;
    height: 56px;
    color: #006450;
    text-align: center;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 288.889% */
    letter-spacing: 0.4px;
    cursor: pointer;
}

.foot button:hover {
    background-color: #006450;
    color: #fff;
    transition: all 0.3s ease;
}

footer {
    width: 1440px;
    height: 263px;
    margin: auto;
    margin-top: 20px;
    
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    gap: 200px;
}

.footItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footItem a:first-child {
    margin-bottom: 20px;
}

.footItem a {
    color: #006450;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.4px;
}

.footItem a:hover {
    text-decoration: underline;
}

.copy {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 1440px;
    color: #006450;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.4px;
}

.copy a {
    color: #006450;
    font-family: Roboto;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 163.636% */
    letter-spacing: 0.4px;
}

.copyRight {
    display: flex;
    gap: 40px;  
}

.menuIcon {
    display: none;
    color: #00C08B;
    padding: 2px;
    margin-right: 10px;
    cursor: pointer;
}

.menuIcon img {
    width: 30px;
}

.menuIcon img:hover {
    filter: brightness(1.2);
    transition: filter 0.3s ease;
}

section {display: none;}

.menuIcon:active section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 55px;
    height: 100vh;
    background-color: #FFFAEF;
    width: 480px;
    z-index: 1;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    header {
        width: 480px;
        justify-content: space-between;
    }

    .navLeft {
        display: none;
    }

    .navRight {
        display: none;
    }

    .menuIcon {
        display: block;
    }

    .logo {
        padding-left: 10px;
    }

    main {
        width: 480px;
    }

    hr {
        width: 470px;
    }

    h1 {
        font-size: 18px;
        line-height: 27px;
    }

    h2 {
        font-size: 26px;
    }

    h4 {
        font-size: 54px;
    }

    .label button {
        width: 128px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slider {
        margin: 580px 23px 0 0;
        float: right;
    }

    .firstScreen {
        background-position: center;
    }

    .perform {
        gap: 10px;
    }

    #perform h2 {
        width: 520px;
    }

    .item {
        width: 480px;
        height: 480px;
    }

    .item p {
        font-size: 18px;
        width: 388px;
        margin-top: 0;
    }

    .item button {
        width: 100%;
        margin-top: auto;
    }

    .article {
        flex-direction: column;
        align-items: center;
        margin: 20px;
        flex-wrap: nowrap;
    }
    
    .articleItem {
        width: 480px;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-top: inherit;
    }

    .sectionSlider h3 {
        width: auto;
    }

    .foot {
        width: 480px;
        background-size: cover;
    }

    .footer {
        gap: 119px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 480px;
        height: 200px;
    }

    .copy {
        display: flex;
        justify-content: center;
    }

    .copyRight {
        display: none;
    }

    .copy .logo {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        width: 768px;
    }

    .navLeft {
        gap: 15px;
    }

    .navRight {
        gap: 15px;
    }

    main {
        width: 768px;
    }

    hr {
        width: 758px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 26px;
    }

    h4 {
        font-size: 54px;
    }

    .firstScreen {
        background-position: center;
    }

    .perform {
        gap: 10px;
    }

    #perform h2 {
        width: 520px;
    }

    .item {
        width: 683px;
        height: 683px;
    }

    .item p {
        font-size: 18px;
        width: 388px;
        margin-top: 0;
    }

    .item button {
        width: 100%;
        margin-top: auto;
    }

    .article {
        flex-direction: column;
        align-items: center;
        margin: 20px;
        flex-wrap: nowrap;
    }
    
    .articleItem {
        width: 480px;
        height: auto;
        flex-direction: row;
        margin-top: inherit;
    }

    .sectionSlider h3 {
        width: auto;
    }

    .foot {
        width: 768px;
        background-size: cover;
    }

    .footer {
        gap: 119px;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 768px;
        height: 200px;
    }

    .copy {
        width: 758px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
    header {
        width: 1024px;
    }

    main {
        width: 1024px;
    }

    hr {
        width: 1014px;
    }

    h1 {
        font-size: 26px;
    }

    h4 {
        font-size: 54px;
    }

    .firstScreen {
        background-position: center;
    }

    .perform {
        gap: 10px;
    }

    #perform h2 {
        width: 520px;
    }

    .item {
        width: 480px;
        height: 480px;
    }

    .item button {
        width: 480px;
        margin-top: 31%;
    }

    .articleItem {
        /* width: 480px;
        height: 480px; */
    }

    .foot {
        width: 1024px;
        background-size: cover;
    }

    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1024px;
        height: 200px;
    }

    .copy {
        width: 960px;
    }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    header {
        width: 100%;
        justify-content: space-between;
    }

    .navLeft {
        display: none;
    }

    .navRight {
        display: none;
    }

    .menuIcon {
        display: block;
    }

    .logo {
        padding-left: 10px;
    }

    main {
        width: 100%;
    }

    hr {
        width: 310px;
    }

    h1 {
        font-size: 14px;
        line-height: 23px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 25px;
    }

    h4 {
        font-size: 25px;
    }

    .label button {
        width: 128px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
    }

    .slider {
        margin: 580px 23px 0 0;
        float: right;
    }

    .firstScreen {
        background-position: center;
        height: 500px;
    }

    #perform {
        margin: auto;
    }

    .perform {
        gap: 10px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        margin: 107px auto;
    }

    #perform h2 {
        width: 100%;
    }

    .item {
        width: 320px;
        height: 320px;
    }

    .item p {
        display: none;
    }

    .item button {
        width: 100%;
        margin-top: auto;
    }

    .article {
        flex-direction: column;
        align-items: center;
        margin: 20px;
        flex-wrap: nowrap;
    }
    
    .articleItem {
        width: 320px;
        height: auto;
        flex-direction: column;
        align-items: center;
        margin-top: inherit;
    }

    .articleItem img {
        width: 320px;
        height: auto;
    }

    .sectionSlider h3 {
        width: auto;
    }

    .foot {
        width: 320px;
        height: 500px;
        background-size: cover;
        margin: auto;
    }

    .footer {
        gap: 40px;
    }

    footer {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        padding: auto;
        width: 320px;
        height: 200px;
    }
    
    .footItem {
        width: 120px;
    }

    .copy {
        display: flex;
        justify-content: center;
        width: 320px;
    }

    .copyRight {
        display: none;
    }

    .copy .logo {
        display: none;
    }

    .work h4 {
        width: auto;
    }
}